body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    width: 50%;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: red;
    margin-bottom: 20px;
}

.try-again-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

.try-again-btn:hover {
    background-color: #45a049;
}

.home-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #333;
    text-decoration: none;
}

.home-icon:hover {
    color: #f00;
}